<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="etatCode">
            <h2><span>Etat Code</span> {{etatCode.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Key</span></dt>
                <dd>
                    <span>{{etatCode.key}}</span>
                </dd>
                <dt><span>Value</span></dt>
                <dd>
                    <span>{{etatCode.value}}</span>
                </dd>
                <dt><span>A Un Etat Donne</span></dt>
                <dd>
                    <div *ngIf="etatCode.aUnEtatDonneId">
                        <a [routerLink]="['/code-acces-ptah', etatCode.aUnEtatDonneId, 'view']">{{etatCode.aUnEtatDonneId}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/etat-code-ptah', etatCode.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
