<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="equipe">
            <h2><span>Equipe</span> {{equipe.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Nom</span></dt>
                <dd>
                    <span>{{equipe.nom}}</span>
                </dd>
                <dt><span>A Un</span></dt>
                <dd>
                    <div *ngIf="equipe.aUnId">
                        <a [routerLink]="['/code-acces-ptah', equipe.aUnId, 'view']">{{equipe.aUnId}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/equipe-ptah', equipe.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
